@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.ionlabel-txt{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.ionitemhome-backg{
    --background: #FFBA8E;
}
.ioncontent-backg{
    --background: #FF883E;
}
.ionitem-backg{
    --background: #FF883E;
}

.pic-backg{
    --background: #FF883E;
}